<% layout('layouts/boilerplate') -%>

  <body>
    <h3>Create a New Listing</h3>
    <div class="container mt-5">
        <form method="POST" action="/listings" novalidate class="needs-validation">
            <div class="form-group">
                <label for="title">Title</label>
                <input required id="title" name="listing[title]" class="form-control" placeholder="Enter title" type="text" />
                <div class="valid-feedback">Title Looks Good</div>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea required id="description" name="listing[description]" class="form-control" placeholder="Enter description"></textarea>
                <div class="invalid-feedback">Please Enter Short Description</div>
            </div>
           
            <div class="form-group">
                <label for="image">Upload Featured Image</label>
                <input   name="listing[image]" placeholder="image Url" class="form-control" type="text" />
                
            </div>
            <!-- <div class="form-group">
                <label for="image">Upload Featured Image</label>
                <input   name="listing[image]" class="form-control" type="file" />
                
            </div> -->
            <div class="form-group">
                <label for="price">Price</label>
                <input required id="price" name="listing[price]" class="form-control" placeholder="Enter price" type="text" />
                <div class="invalid-feedback">Please Enter Valid Price</div>

            </div>
            <div class="form-group">
                <label for="country">Country</label>
                <input required id="country" name="listing[country]" class="form-control" placeholder="Enter country" type="text" />
                <div class="invalid-feedback">Please Enter Country</div>

            </div>
            <div class="form-group">
                <label for="location">Location</label>
                <input required id="location" name="listing[location]" class="form-control" placeholder="Enter Jaipur,Delhi" type="text" />
                <div class="invalid-feedback">Please Enter Valid location</div>

            </div>
            <button type="submit" class="btn btn-primary">Add</button>
        </form>
    </div>
  </body>
